{% extends "base.html" %}

{% block subtitle %}
	- {{ keepername }}
{% endblock %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block body %}
	<!-- ========================================================================================= -->
	<div class="modal fade" id="newmodal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">新增</h4>
	      </div>
	      <div class="modal-body">
	      <form id="newDoorForm" method="post" action="/{{keeperid}}/add">
		    <div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" disabled>描述：</button>
		      </span>
		      <input type="text" class="form-control" name="desc">
		    </div>
		    <br>
		    <div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" disabled>链接：</button>
		      </span>
		      <input type="text" class="form-control" name="link">
		    </div>
		    <br>
		    其他(数据库信息等备注)：
		    <div>
		    	<textarea name="other" class="form-control"></textarea>
		    </div>
		  </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" onclick="document.forms['newDoorForm'].submit()">保存</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- ========================================================================================= -->
	<div style="margin:20px">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">{{keepername}}</li>
		</ol>
		<div>
			<button class="btn btn-info" data-toggle="modal" data-target="#newmodal">新增</button>
			<table id="door-table">
			</table>
		</div>
	</div>
{% endblock %}
{% block script %}
		$(function(){
	        layer.config({
	            extend: 'extend/layer.ext.js'
	        });

			$('#door-table').bootstrapTable({
				cache:true,
				pagination:true,
				paginationLoop:false,
				pageNumber:1,
				pageSize:10,
				searchAlign:"left",
				paginationPreText:"上一页",
				paginationNextText:"下一页",
				search:true,
				url:"/{{keeperid}}/all",
				columns:[{
					sortable:true,
					width:"5%",
					field:"id",
					title:"ID"
				},{
					sortable:true,
					width:"15%",
					field:"desc",
					title:"描述"
				},{
					sortable:true,
					width:"50%",
					field:"link",
					title:"链接"
				},{
					width:"20%",
					field:"other",
					title:"其他"
				},{
					width:"10",
					field:"operation",
					title:"操作"
				}
				]
			});
		})

		function edit(id){
			alert(id)
		}

		function del(id){
			layer.confirm('确定要删除吗？', {
				btn: ['取消','确定']
			}, function(index){
				layer.close(index);
			}, function(){
				$.ajax({
					url:"/door/delete/"+id,
					type:"delete",
					success:function(data){
						if(data.result){
                            location.reload();
						}else{
							layer.msg("删除失败:"+data.errorMsg);
						}
					}
				})
			});
		}

		function toggleThis(id){
			$("#other-"+id).toggle();
			$("#save-"+id).toggle();
			text = $("#show-hide-"+id).html()
			if(text == '显示'){
				$("#show-hide-"+id).html("隐藏");
			}else{
				$("#show-hide-"+id).html("显示");
			}
		}


		function saveEdit(id){
			console.log(id)
			$.ajax({
				url:"/door/modify/"+id,
				type:"post",
				data:{"other":$("#other-"+id).val()},
				success:function(data){
					if(data.result){
						layer.msg("修改成功");
					}else{
						layer.msg("修改失败:"+data.errorMsg);
					}
				}
			})
		}
{% endblock %}
